name: Test & Build

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v3
      - name: Test & build
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      - run: npm test
      - run: npm run build

      - name: Coveralls GitHub Action
        if: ${{ github.event_name != 'pull_request' }}
        uses: coverallsapp/github-action@v1.2.0
        with:
          github-token: ${{ secrets.github_token }}'
